<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">A Machine Learning Enigneer who is passionate about <span id="js-rotating">Speech, Text, Data</span> </h4>
  </div>
  <div class="user-content">
    <p>
      I'm Machine Learning Engineer who is passionate about Speech Recognition, Speaker Recognition, NLP and Data Visualization.
    </p>
    <p>
      I love exploring real-life data, structuring them and understand them! I also love cats!
    </p>
  </div>
</div>